.popup {
	width: 500px;
	background-color: rgb(255, 255, 255);
	padding: 24px;
	border-radius: 14px;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	border: 2px solid #e8e7e775;

	&__heading {
		font-size: 30px;
		margin-bottom: 25px;
	}

	&__descr {
		margin-bottom: 18px;
		font-size: 20px;
	}

	&__btns-wrapp {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
	}

	&__btn {
	}
	
	&__link {
		background-color: #EFF2FD;
		padding: 10px 20px;
		border-radius: 6px;
		color: #000000b3;
		transition: background-color .3s;
		cursor: pointer;
		&:hover {
			background-color: #c4cdee;
		}
	}

	&__radiobtn {
		padding: 10px 0;
	}

	&__radiobtn-input {
		cursor: pointer;
		margin-right: 15px;
	}
	&__radiobtn-label {
		font-size: 20px;
		cursor: pointer;
	}
}
